name: Instalar dependencias y compilar Spring Boot

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3
      - name: Instalar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Instalar Maven
        uses: s4u/maven-settings-action@v2.8.0
      - name: Instalar dependencias y compilar
        run: |
          chmod +x ./deploy.sh
          ./deploy.sh
