<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Gestor de Usuarios - PocketBook</title>
</head>
<body>
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/common/navbar.css}" href="/css/common/navbar.css">
    <link rel="stylesheet" th:href="@{/css/perfil/perfil.css}" href="/css/perfil/perfil.css">
    
    <!-- NAVBAR -->
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="container my-5 text-center">
        <h1 class="mb-4">Gestor de Usuarios</h1>
        <p>Aquí puedes gestionar los usuarios de la aplicación.</p>
        <!-- Contenido adicional para el gestor de usuarios -->
    </main>

    <div class="table-responsive container my-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Password</th>
                    <th scope="col">Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <!-- SCRIPTS -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>